<html>
	<link th:src="@{/static/home/css/foot.css}" rel="stylesheet"/>		
<body>
<div class="bottom">
				<div class="space"></div>
				<div class="bottom_left">
					<div class="bottom_img1"></div>
					<ul>
						<li><a class="font1" href="#">独立音乐人招募计划</a></li>
						<li><a class="font2" href="#">加入我们即将与超过亿万乐迷互动</a></li>
					</ul>
				</div>
				<div class="bottom_center">
					<div class="bottom_img2"></div>
					<ul>
						<li><a class="font3" href="#">音乐专栏招募计划</a></li>
						<li><a class="font4" href="#">加入我们  与同道中人交流心得</a></li>
					</ul>
				</div>
				<div class="bottom_right">
					<li><a class="font5" href="#">关于网易-客户服务-服务条款-网易公司版权所有&copy;1997-2016</a></li>
					<li><a class="font6" href="#">网络文化经营许可证：浙网文[2016]0155-055号</a></li>
				</div>
			</div>
			
	</body>
</html>
