<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Love Of Music</title>
<style>
	*{
		margin:0px;
		padding:0px;
	}
	#icontent{
		width:100%;
		height:100%;
		margin:0px;
		padding:0px;
		position:absolute;
		z-index:5;
	}
	
	#player{
		position:absolute;
		z-index:10;
		width:530px;
		height:100px;
		top:78%;
	}
	
</style>
      <script th:src="@{/static/js/jquery.min.js}"></script>
  
 </head>
<body>

  <spen class="am-topbar admin-header" th:utext="${foot}" />

 <!--   <iframe name="content"  th:src="@{home.html}" id="icontent" frameborder="0" scrolling="auto"  allowTransparency="true">
		内容iframe，这个iframe用来显示网页，本体则是用来播放音乐的，数据从session中获取
	</iframe>   -->
<!-- <iframe name="player" src="player.html" id="player" frameborder="0" scrolling="no" allowTransparency="true">

</iframe> -->
</body>
</html>