<html>
<head>
<title>小众音乐网</title>
<link href="css.css" media="screen" rel="Stylesheet" type="text/css" />
<script type="text/javascript">
	function selectAll(index) {
		alert(index);
		var checkboxes = document.forms[index].elements;
		alert(checkboxes.length);
		for ( var i = 0; i < checkboxes.length; i++) {
			checkboxes[i].checked = true;
		}
	}
	function selectReverse(index) {
		var checkboxes = document.forms[index].elements;
		for ( var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked)
				checkboxes[i].checked = false;
			else
				checkboxes[i].checked = true;
		}
	}
	
	
	
	function play(id){
		abc[id].action="playSong.action";
		abc[id].submit();
	}
	
	function collect(id){
		abc[id].action="collectSong_collectSong.action";
		abc[id].submit();
	}
</script>
</head>
<body>
	<div id="main">
		<div id="content">

			<div class="part">
				<div class="title">最新歌曲排行</div>
				<form action="playSong.action" method="post" name="abc">
					<ul style="margin:0; padding:0">
						<s:iterator value="songSingerMap" status="st">
							<s:if test="#st.count<11">
								<li>
								<input type="checkbox" name="songIds" id="<s:property value='key.id'/>" value="<s:property value='key.id'/>">
								<label for="<s:property value='key.id'/>" class="checkboxLabel"> <s:property value="key.name" /> 
									（<s:iterator value="value">
											<s:property value="name" />
									</s:iterator>） 
								</label>
							</li>
							</s:if>
							
						</s:iterator>
					</ul>
				</form>
			</div>
			<!-- ******************************************************************************************** -->

			<div class="part">
				<div class="title">华语歌曲</div>
				<form action="playSong.action" method="post" name="abc">
					<ul style="margin:0; padding:0">
						<s:iterator value="songSingerChinaMap" status="st">
							<li>
								<input type="checkbox" name="songIds" id="<s:property value='key.id'/>" value="<s:property value='key.id'/>">
								<label for="<s:property value='key.id'/>" class="checkboxLabel"> 
									<s:property value="key.name" /> 
									（<s:iterator value="value"><s:property value="name" /></s:iterator>） 
								</label>
							</li>
						</s:iterator>
					</ul>
					<p class="play">
						<!--<input value="全选" type="button" onclick="selectAll(1)">
           <input value="反选" type="button" onclick="selectReverse(1)"><br>-->
						<input value="播放" type="button" onclick="play('1')" />
						<input value="收藏" type="button" onclick="collect('1')" />
					</p>
				</form>
			</div>
			<!-- ******************************************************************************************** -->
			<div class="part">
				<div class="title">韩国歌曲</div>
				<form action="playSong.action" method="post" name="abc">
					<ul style="margin:0; padding:0">
						<s:iterator value="songSingerKoreaMap" status="st">
							<li><input type="checkbox" name="songIds"
								id="<s:property value='key.id'/>"
								value="<s:property value='key.id'/>"><label
								for="<s:property value='key.id'/>" class="checkboxLabel"><s:property
										value="key.name" /> （<s:iterator value="value">
										<s:property value="name" />
									</s:iterator>） </label></li>
						</s:iterator>
					</ul>
					<p class="play">
						<!--<input value="全选" type="button" onclick="selectAll(2)">
            <input value="反选" type="button" onclick="selectReverse(2)"><br>-->
						<input value="播放" type="button" onclick="play('2')" />
						<input value="收藏" type="button" onclick="collect('2')" />
					</p>
				</form>

			</div>
			<!-- ******************************************************************************************** -->

			<div class="part">
				<div class="title">日本歌曲</div>
				<form action="playSong.action" method="post" name="abc">
					<ul style="margin:0; padding:0">
						<s:iterator value="songSingerJapanMap" status="st">
							<li><input type="checkbox" name="songIds"
								id="<s:property value='key.id'/>"
								value="<s:property value='key.id'/>"><label
								for="<s:property value='key.id'/>" class="checkboxLabel"><s:property
										value="key.name" /> （<s:iterator value="value">
										<s:property value="name" />
									</s:iterator>） </label></li>
						</s:iterator>
					</ul>
					<p class="play">
						<!--<input value="全选" type="button" onclick="selectAll(2)">
            <input value="反选" type="button" onclick="selectReverse(2)"><br>-->
						<input value="播放" type="button" onclick="play('3')" />
						<input value="收藏" type="button" onclick="collect('3')" />
					</p>
				</form>
			</div>
			<!-- ******************************************************************************************** -->
			<div class="part">
				<div class="title">欧美歌曲</div>
				<form action="playSong.action" method="post" name="abc">
					<ul style="margin:0; padding:0">
						<s:iterator value="songSingerOccidentMap" status="st">
							<li><input type="checkbox" name="songIds"
								id="<s:property value='key.id'/>"
								value="<s:property value='key.id'/>"><label
								for="<s:property value='key.id'/>" class="checkboxLabel"><s:property
										value="key.name" /> （<s:iterator value="value">
										<s:property value="name" />
									</s:iterator>） </label></li>
						</s:iterator>
					</ul>
					<p class="play">
						<!--<input value="全选" type="button" onclick="selectAll(1)">
           <input value="反选" type="button" onclick="selectReverse(1)"><br>-->
						<input value="播放" type="button" onclick="play('4')" />
						<input value="收藏" type="button" onclick="collect('4')" />
					</p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
